<div class = "card_container">
    <section class = "card_header">
        <figure class = "card_image">
            <%= image_tag("image-equilibrium.jpg", class: "nft_img") %>
        </figure>
    </section>

    <section class = "card_body">
        <h3 class = "title">
            Equilibrium #3429
        </h3>

        <p class = "description">
            Our Equilibrium collection promotes balance and calm.
        </p>

        <div class = "info">
            <p class = "price">
                <%= image_tag("icon-ethereum.svg", class: "ethereum_icon") %>
                0.041ETH
            </p>

            <p class = "time_left">
                <%= image_tag("icon-clock.svg", class: "clock_icon")%>
                3 days left
            </p>
        </div>

        <div class = "creator_info">
            <%= image_tag("image-avatar.png", class: "avatar") %>
            <p class = "creation">
                Creation of <span class = "creator_name">Jules Wyvern</span>
            </p>
        </div>
    </section>
</div>
